@font-face {
    font-family: THICCCBOI; 
    src: url("../assets/fonts/THICCCBOI.ttf");
  }
  @font-face {
    font-family: THICCCBOI-MEDIUM; 
    src: url("../assets/fonts/THICCCBOI-Medium.ttf");
  }
  @font-face {
    font-family: THICCCBOI-BOLD; 
    src: url("../assets/fonts/THICCCBOI-Bold.ttf");
  }
  @font-face {
    font-family: INTER; 
    src: url("../assets/fonts/Inter.otf"); 
  }